# 통계학 세미나 HW6
## 212STG10 박영은

### 1. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

13을 2로 나누었을 때 나머지가 0이면 짝수, 나머지가 1이면 홀수이다. 따라서, if-else 조건문을 활용하여 아래와 같이 판별해본 결과 자연수 13은 홀수이다.

In [1]:
if 13%2 == 0:
    print('짝수')
else:
    print('홀수')

홀수

### 2. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [2]:
n = '881120-1068234'
birth = '19'+ n.split('-')[0]
number = n.split('-')[1]
print(birth)
print(number)

19881120
1068234

### 3. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [3]:
list1= ['Life', 'is', 'too', 'short']
' '.join(list1)

'Life is too short'

### 4. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [4]:
tuple1 = (1,2,3)
tuple2 = (4,)
tuple1 + tuple2

(1, 2, 3, 4)

### 5. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [5]:
a = {'A':90, 'B':80, 'C':70}
a['B']

80

### 6. a 리스트에서 중복 숫자를 제거해 보자.

In [6]:
# set()활용
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
list(set(a))

[1, 2, 3, 4, 5]

In [7]:
# for문, 조건문 활용
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = []
for i in a:
    if i not in b:
        b.append(i)
b

[1, 2, 3, 4, 5]

### 7. while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [8]:
n = 1
sum_3 = 0
while n <= 1000:
    if n%3 == 0:
        sum_3 += n
    n += 1
sum_3

166833

### 8. while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

In [9]:
i=1
while i<=5:
    a = "*"*i
    i+=1
    print(a)

*
**
***
****
*****

### 9. 리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.
### 위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [10]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
result

[2, 6, 10]

In [11]:
# list comprehension 사용
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n % 2 == 1]
result

[2, 6, 10]